/** All css rules defined for FSpotcloud are below. */
.fsc-tag-title-label {
	font-size: 17px;
	border: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	display: block;
	padding: 10px;
	border: medium;
	border-color: black;
	background-color: #728FCE;
	color: white;
	text-align: center;
}

.fsc-tag {
	background-color: gray;
}

.fsc-tag-split-panel {
	background-color: #38ACEC;
}

.fsc-image-panel-view {
	padding-top: auto;
	background-color: #3090C7;
}

.gwt-Label-title {
	background-color: #728FCE;
	text-align: center;
	font-weight: bold;
	font-size: 200%;
}

.gwt-Label {
	background-color: #728FCE;
	text-align: center;
	font-size: 100%;
}

.gwt-Image {
	padding: 20px;
}

.fsc-image-panel-spacer-top {
	height 30px;
}

.fsc-help-popup {
	padding: 20px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	font-size: 180%;
}

.fsc-help-description {
	font-size: 130%;
}

.fsc-help-separator {
	font-weight: bold;
	font-size: 130%;
}

.fsc-help-key {
	color: yellow;
	font-weight: bold;
	font-size: 130%;
}

.gwt-HtmlPanel {
	background-color: #3090C7;
	height: 100%;
}

.fsc-tag-tree-container {
	color: white;
	background-color: #3090C7;
	border: scrollbar;
}

.fsc-tag-image-view-container {
	background-color: ;
}

.fsc-tag-status-label {
	text-align: center;
	color: white;
	background-color: aqua;
}

.fsc-image-view {
	padding-top: 10px;
	background-color: #357EC7;
}

.fsc-image-view-image {
	margin: 10px;
	padding: 10px;
	border: solid;
}

.fsc-image-view-pager-container {
	padding: 20px;
}

.fsc-image-view-slideshow-container {
	padding: 20px;
}

.fsc-pager {
	padding: 20px;
}

.fsc-pager-first {
	
}

.fsc-pager-previous {
	
}

.fsc-pager-next {
	
}

.fsc-pager-last {
	
}

.fsc-slideshow {
	padding: 20px;
}

.fsc-slideshow-start {
	
}

.fsc-slideshow-descrease {
	
}

.fsc-slideshow-increase {
	
}

.fsc-slideshow-interval {
	padding-left: 10px;
	padding-right: 10px;
	background-color: #5E5A80;
	color: white;
}