/** Add css rules here for your application. */
	/** Example rules used by the template application (remove for your app) */

.fsc-tag-title-label {
	font-size: 17px;
	border: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	display: block;
	padding: 10px;
	border: medium;
	border-color: black;
	background-color: green;
}

.gwt-Image {
	padding: 10px;
}

.gwt-Button {
	display: block;
	padding: 10px;
}



