@def darkColor #8BB381  ;/**Dark Sea Green */
@def ligherColor 	#C3FDB8;/**  Dark Sea Green1	 */ 
@def treeColor #B5EAAA  ;
	/**  Dark Sea Green2	 */ 
@def borderRadius   7px  ;
@def foregroundColor #595454; /** Grey40 */

@def darkColor #66BDFF;
@def ligherColor 	#98EFFF; 
@def treeColor #98EFFF; 
@def borderRadius   7px  ;
@def foregroundColor white;
@def ligherColor #B38481;
@def ligherColor #153E7E;
@def treeColor #B38481;
@def treeColor #153E7E;
 .titleBlock {
	background-color: darkColor;
	color: foregroundColor;
	text-align: center;
	font-size: large;
	font-weight: bold;
	-moz-border-radius: borderRadius;
	border-radius: borderRadius;
}

.button {
	padding: 3px;
	margin: auto;
}
	

.imagePanelBlock {
	background-color: ligherColor;
	border-radius: borderRadius;
	margin: auto;
}

.photoInfoLabel {
	text-align: center;
	color: foregroundColor;
	font-size: 12px;
}

.treeBlock {
	background-color: treeColor;
	-moz-border-radius: borderRadius;
	border-radius: borderRadius;
}

.footerBlock {
	background-color: darkColor;
	color: foregroundColor;
	-moz-border-radius: borderRadius;
	border-radius: borderRadius;
	text-align: center;
}

.helpPopup {
	padding: 20px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	font-size: 180%;
}

.helpCategory {
	font-size: 90%;
	border-bottom: solid;
	border-top: solid;
}

.helpDescription {
	font-size: 130%;
	text-align: left;
}

.helpTitle {
	font-size: large;
	text-align: center;
	font-style: bold;
}

.helpSeparator {
	font-weight: bold;
	font-size: 130%;
}

.helpKey {
	color: yellow;
	font-weight: bold;
	font-size: 130%;
}