@def darkColor #8BB381  ;/**Dark Sea Green */
@def ligherColor 	#C3FDB8;/**  Dark Sea Green1	 */ 
@def treeColor #B5EAAA  ;
	/**  Dark Sea Green2	 */ 
@def borderRadius   7px  ;
@def foregroundColor #595454; /** Grey40 */

@def darkColor #66BDFF;
@def ligherColor 	#98EFFF; 
@def treeColor #98EFFF; 
@def borderRadius   14px  ;
@def foregroundColor white;
@def ligherColor #B38481;
@def ligherColor  #DEFFF1;
@def treeColor #B38481;
@def treeColor #FFF1DE;
@def thirdColor #F1DEFF;

/** Dark theme */
@def ligherColor  #495674;
@def treeColor #9B8C8C;
@def thirdColor #8C9C8C;

 .textBox {
     background:ligherColor;
     color: darkColor;
     font-size: 190%;
 }

 .anchor {
     color: grey;
     background: thirdColor;
     font-size: 150%;
     text-align:center;
 }

 .label {
    background: thirdColor;
    font-size: 180%;
    vertical-alignment: text-top;

 }
 .statusLabel {
     color: borderColor;
     background: thirdColor;

 }

 .userPage {
     font-size: 250%;
     background: ligherColor;
 }

 .button {
    font-size: 135%;
    text-align:center;
     background: darkColor;

 }

 .titleLabel {
    background: thirdColor;
    font-type: bold;
    font-size: 250%;

 }